.module-main {
    background: #fafafa;

    :deep(.ant-tabs-nav) {
        margin-bottom: 0;

        .ant-tabs-tab {
            border-color: transparent;
        }
    }

    :deep(.ant-tabs-content) {
        box-sizing: border-box;
        padding: 16px;
        background-color: #fff;
    }

    // 内容区域
    .module-goods {
        .goods-item {
            .goods-img {}

            .goods-content {
                .goods-tags {}

                .goods-title {}

                .goods-exhibit {
                    .goods-download {}

                    .goods-point {
                        .old-point {}

                        .new-point {}
                    }
                }
            }
        }
    }
}