/* 按钮 */

:root {
  --ant-success: var(--success-color);
  --ant-error: var(--error-color);
  --ant-warning: #e6a23c;
  --ant-reload: #40485b;
  --ant-move: #909399;
}
button.ant-btn {
  border-radius: 5px;
}
/* btn - warning */
.ant-btn.ant-btn-warning {
  border-color: var(--ant-warning);
  background: var(--ant-warning);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}
.ant-btn.ant-btn-warning:hover,
.ant-btn.ant-btn-warning:focus {
  border-color: var(--ant-warning);
  background-color: var(--ant-warning);
}
/* btn - success */
.ant-btn.ant-btn-success {
  background-color: var(--ant-success);
}
.ant-btn.ant-btn-success:hover,
.ant-btn.ant-btn-success:focus {
  border-color: var(--ant-success);
  background-color: var(--ant-success);
}
/* btn - reload */
.ant-btn.ant-btn-reload {
  background-color: var(--ant-reload);
}
.ant-btn.ant-btn-reload:hover,
.ant-btn.ant-btn-reload:focus {
  border-color: var(--ant-reload);
  background-color: var(--ant-reload);
}
/* btn - move */
.ant-btn.ant-btn-move {
  background-color: var(--ant-move);
}
.ant-btn.ant-btn-move:hover,
.ant-btn.ant-btn-move:focus {
  border-color: var(--ant-move);
  background-color: var(--ant-move);
}
/* btn - 颜色 */
.ant-btn.ant-btn-warning,
.ant-btn.ant-btn-warning:hover,
.ant-btn.ant-btn-warning:focus,
.ant-btn.ant-btn-reload,
.ant-btn.ant-btn-reload:hover,
.ant-btn.ant-btn-reload:focus,
.ant-btn.ant-btn-move,
.ant-btn.ant-btn-move:hover,
.ant-btn.ant-btn-move:focus,
.ant-btn.ant-btn-success,
.ant-btn.ant-btn-success:hover,
.ant-btn.ant-btn-success:focus {
  color: #fff;
}
/* .ant-btn-primary.lock-active {
  border-color: #096dd9;
  background: #096dd9;
} */

/* 透明度 */
.ant-btn.ant-btn-move:hover,
.ant-btn.ant-btn-reload:hover,
.ant-btn.ant-btn-warning:hover,
.ant-btn.ant-btn-success:hover {
  opacity: 0.8;
}

/* space */

.ant-space-vertical {
  width: 100%;
}

/* notification */

.ant-notification-notice {
  box-shadow: var(--box-shadow-light);
  border-radius: 8px;
  padding: 10px !important;
  width: 300px;
}

.ant-notification-notice-close {
  top: 13px;
}

.ant-notification-topRight {
  top: 16px !important;
  margin-right: 16px !important;
  /* padding: 10px !important; */
}

/* 头部个人信息样式 */

.admin-info-base {
  width: 260px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.admin-info-other {
  padding: 10px 0;
  text-align: center;
}

.admin-info-name {
  font-size: 18px;
}

/* card 卡片 */

.ant-card-head {
  padding: 0 16px !important;
  font-size: 1rem !important;
}

.ant-card-body {
  padding: 16px !important;
}

/* menu 卡片 */

.ant-menu-title-content {
  user-select: none;
}

/* alert */
.ant-alert-gray {
  background-color: #e6e8eb;
  /* border: 1px solid #91d5ff; */
}
.ant-alert-gray .ant-alert-message {
  color: #909399;
}

/* tag */
.ant-tag.table-tag {
  margin-right: 0;
}

/* ant-picker */
.ant-picker {
  width: 100%;
}

/* i-popover-menu */
.i-popover-menu .ant-popover-inner-content {
  padding: 0;
  padding-top: 4px;
}

.i-popover-menu .i-popover-item {
  text-align: center;
  padding: 7px 20px;
  cursor: pointer;
  color: #000;
  user-select: none;
}
.i-popover-menu .i-popover-item:hover {
  background-color: #f5f5f5;
}

/* 抽屉 */
.i-menu-mobile .ant-drawer-content-wrapper .ant-drawer-body {
  padding: 0;
  display: flex;
  flex-flow: column;
}

/* 自定义 btn group 组 */
.ant-btn-group {
  /* overflow: hidden; */
}
.ant-btn-group button.ant-btn:nth-of-type(1) {
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}
.ant-btn-group button.ant-btn:nth-last-of-type(1) {
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}
.ant-btn-group .ant-btn {
  border-radius: initial;
}

/* modal */
.ant-modal-content .ant-modal-body {
  padding: 16px;
}

@media screen and (max-width: 575px) {
  .ant-form.ant-form-vertical .ant-form-item,
  .ant-modal-body .ant-form .ant-form-item {
    margin-bottom: 8px;
  }
  .ant-form-item .ant-form-item-label {
    padding-bottom: 0;
  }
}
